.App {
  text-align: center;
  margin: 0;
  background-image: url("../../../public/images/Eadweard-Muybridge-method-cameras-battery-shutter-controls-1877.webp");
  background-size: cover;
}

.Header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.movieForm {
  background-color: darkmagenta;
}